@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(21, 58, 91);
  height: 10%;
  color: white;
}
.header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header-items p {
  padding: 20px;
  font-size: xx-large;
}
.icons a img {
  justify-content: flex-end;
  height: 60px;
  padding: 2px;
}
.icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 50px;
  gap: 50px;
}
.username{
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  background-image: url("https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_640.jpg");
}
.text {
  margin: 40px;
  padding: 20px;
  margin-left: auto;
  color: black;
  font-weight: 600;
  font-size: x-large;
  /* border: 1px solid black; */
  text-align: center;
  line-height: 40px;
  margin-top: 10rem;
}
.text p {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.text a {
  text-decoration: none;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 10px;
}
/* for movie.html styling */
.header-items p a{
  text-decoration: none;
  color: white;
}
.movie-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
.movie-list {
  height: 100vh;
  display: flex;
  background-color: white;
  color: black;
  
}
.movie-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}
.movie {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(21, 58, 91);
  padding: 10px;
  text-align: center;
  gap: 7px;
  padding-bottom: 0%;
  height: 60%;
}
.movie img {
  height: 60%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(21, 58, 91);
  height: 30%;
  color: white;
  font-size: medium;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
footer p {
  font-size: x-large;
}
footer a {
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  color: black;
  text-decoration: none;
}
/* for suggestionForm */
.suggestionForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 10%;
}
form {
  display: flex;
  gap: 4px;
  font-size: x-large;
}
form button {
  padding: 5px;
}
/* for the sign-up form */
.sign-log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  font-size: x-large;
}
.sign {
  display: flex;
  flex-direction: column;
  background-color: rgb(21, 58, 91);
  padding: 40px;
  border-radius: 10px;
  height: 80%;
  width: 60vw;
  font-size: x-large;
  color: white;
}
.sign-up {
  height: 50px;
}
.sign input {
  font-size: medium;
}
.signbtn {
  align-self: center;
  margin-top: 50px;
  height: 40px;
  width: 50%;
}
.sign-log-form a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(21, 58, 91);
  color: white;
}
/* for the cart */
.cart-icon {
  display: inline-block;
}
.cart-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: x-large;
  padding-top: 60px;
  background-color: white; 
  flex-grow: 1;
}
.cart-movie {
  background-color: rgb(21, 58, 91);
  padding: 10px;
  color: white;
  border: 1px solid black;
}
.cart-movie img {
  height: 200px;
}
.cart-icon:target {
  display: block;
}
.cart-items{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 575.98px) and (max-width: 991.98px) {
  .movie-list,.movie{
    display: block;
  }
}
